// 먼저 변수 파셜을 불러옴 (네임스페이스 없이)
@use 'variables' as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin input-style {
    width: 100%;
    padding: 12px;
    border: 1px solid $color-border;
    border-radius: 4px;
    font-size: $font-size-base;
    font-family: $font-family-base;

    &:focus {
        outline: none;
        border-color: $color-primary;
        box-shadow: 0 0 5px rgba($color-primary, 0.5);
    } }