// 색상 변수
$color-primary: #007acc;
$color-error: #e74c3c;
$color-border: #ccc;
$color-bg: #fff;

$nav-height: 64px;
$nav-padding-x: 2rem;

// 폰트
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: 16px;
$font-color-base: #333;
$font-weight-base: 400;